                              **Data Types and Structures Questions**


1. What are data structures, and why are they important.?

 => Data structures are specialized formats for organizing, storing, and accessing data in a computer, enabling efficient data management. They are fundamental because they allow programs to handle information effectively, impacting performance, readability, and scalability of code. They define how data elements are related and what operations can be performed on them.

2. Explain the difference between mutable and immutable data types with examples

 => mutable data types allow their values to be modified after creation, while immutable data types cannot be changed once created.


*   Mutable data type example
-   list,Dictionaries.

-   Immutable data types example
-   Strings,tuples.

3. What are the main differences between lists and tuples in Python.?

 => Tuples are immutable objects and lists are mutable objects. Once defined, tuples have a fixed length and lists have a dynamic length. Tuples use less memory and are faster to access than to lists. Tuple syntax uses round brackets or parenthesis, and list syntax uses square brackets.


 4. Describe how dictionaries store data.

  => A dictionary is a data structure that stores the value in key: value pairs. Values in a dictionary can be of any data type and can be duplicated, whereas keys can't be repeated and must be immutable. which makes it easier to find values.


  5. Why might you use a set instead of a list in Python.?

  =>Sets are suitable for unordered collections of unique elements.
  sets do not store indexed data or duplicates, they use less memory than lists and are less computationally expensive.One of the main advantages of using sets is that they are highly optimized for membership tests


  6. What is a string in Python, and how is it different from a list.

  =>A string is an immutable sequence of characters, while a list is a mutable sequence of items, which can be of any data type.
 *  Mutability:
Strings are immutable, meaning their values cannot be changed after creation. Lists are mutable, allowing for modification, addition, or removal of elements.

 *   Item Types:
Strings can only store characters, while lists can store items of various data types.


 7. How do tuples ensure data integrity in Python.

 => Tuples in Python ensure data integrity through their immutability. Once a tuple is created, its elements cannot be modified, added, or removed. This characteristic guarantees that the data stored within a tuple remains constant throughout its lifecycle. Immutability makes tuples suitable for scenarios where data consistency is crucial, such as storing configuration settings, representing fixed records, or using them as keys in dictionaries.
Attempting to modify a tuple will result in an error, preventing accidental or unauthorized changes to the data. This protection against modification ensures that the data within a tuple remains reliable and consistent, contributing to the overall integrity of the program.

8. What is a hash table, and how does it relate to dictionaries in Python.?

 =>A hash table is a data structure that stores key-value pairs, where each key is unique and the values can be of any data type. It uses a hash function to compute the index in an array of slots, or buckets, from which the desired value can be looked up, inserted, or deleted. Hash tables offer average-case O(1) time complexity for these operations, making them efficient for storing and retrieving data.
 * In Python, dictionaries are implemented using hash tables. When a key-value pair is added to a dictionary, the key is hashed to determine the index where the value will be stored. If a collision occurs (two keys hash to the same index), Python uses a collision resolution technique, such as separate chaining or open addressing, to handle it. Dictionaries in Python provide fast lookups, insertions, and deletions due to the underlying hash table implementation.


9. Can lists contain different data types in Python.?

 =>Yes, lists in Python can contain elements of different data types. This is one of the features that makes lists very flexible. A single list can hold integers, strings, floats, booleans, or even other lists and data structures.


 10. Explain why strings are immutable in Python.

 => strings are immutable, meaning their values cannot be changed after they are created. Any operation that appears to modify a string instead creates a new string object. When a string is "modified", such as by concatenation or slicing, a new string object is created with the updated value. The original string remains unchanged.

  *  Immutability allows for optimizations like string interning, where identical string literals are stored only once in memory. This saves space and improves performance, especially when dealing with many repeated strings.


  11. What advantages do dictionaries offer over lists for certain tasks?

  => Dictionaries allow for quick retrieval of values based on unique keys, while lists require sequential searching. This makes dictionaries ideal for scenarios like storing and accessing large datasets, mapping relationships between data, or implementing caches and configurations.
   *  Faster Lookup:
   This means you can directly access a value by its key, rather than having to iterate through the entire list.
   *  Key-Value Associations:
Dictionaries are specifically designed for storing data as key-value pairs.


 12. Describe a scenario where using a tuple would be preferable over a list.

 => A tuple would be preferable over a list when you need to store a collection of items that will not be modified after creation, and when you want to ensure data integrity and consistency.
  *  Scenario:
Imagine a function that needs to represent a point in a 2D space. You could use a tuple to store the x and y coordinates.


13. How do sets handle duplicate values in Python.?

 =>  sets are designed to store only unique elements. When attempting to add a duplicate value to a set, the set automatically discards the duplicate, ensuring that it contains only distinct elements. This behavior is a core characteristic of sets, making them useful for tasks like removing duplicates from a list or checking for membership.

14. How does the “in” keyword work differently for lists and dictionaries

 =>Lists:
The in operator for lists searches for a specific element within the list. It iterates through the list and compares each element with the target value, returning True if a match is found and False otherwise.
 * For example, 2 in [1, 2, 3] would return True because 2 is present in the list, while 4 in [1, 2, 3] would return False.

 =>Dictionaries:
 By default, when in is used with a dictionary, it checks if the provided value is a key within the dictionary. It returns True if the key is present and False otherwise.
  * For example, 'a' in {'a': 1, 'b': 2} would return True because 'a' is a key in the dictionary, while 'c' in {'a': 1, 'b': 2} would return False because 'c' is not a key.


 15. Can you modify the elements of a tuple? Explain why or why not.

 =>No, you cannot directly modify the elements of a tuple in Python after it's been created. Tuples are immutable, meaning their contents cannot be changed once they are defined. Trying to modify a tuple will result in a TypeError.
 Immutability helps ensure that data is not accidentally changed, which is useful in scenarios where the data should be preserved. Immutability can sometimes lead to performance improvements because the object can be safely cached and reused without the risk of modification.

 16. What is a nested dictionary, and give an example of its use case.?

 =>A nested dictionary is a dictionary where the values are themselves dictionaries. This allows for the creation of a hierarchical structure where data can be organized into multiple levels. A common use case for nested dictionaries is representing complex, multi-layered data.
  *  For example such as employee information with nested address and contact details.
  the employee dictionary contains nested dictionaries for address and contact. This allows for easy organization and access of detailed information related to the employee's address and contact details.


  17. Describe the time complexity of accessing elements in a dictionary.

  =>Accessing an element in a dictionary using its key typically has a time complexity of O(1) on average, meaning it takes constant time, regardless of the dictionary's size. However, in the worst-case scenario, it can degrade to O(n), where n is the number of key-value pairs, if there are many hash collisions. When you access an element by its key, the hash function quickly determines the potential location of that key-value pair in the array. This lookup is very efficient and takes constant time on average, hence O(1).
  If the hash function isn't designed well or if there are a large number of keys that hash to the same index, it can lead to collisions. This means multiple key-value pairs are trying to occupy the same slot in the array.


  18. In what situations are lists preferred over dictionaries.

  => we prefer lists If the order of elements is important and you need to access them by their position (index), lists are a better choice.
  When you frequently perform operations like appending, extending, or iterating through a list.When you need to store a sequence of items, and don't need to associate each item with a unique key.  Dictionaries are generally better when quick lookups by key are required, or when data is associated with unique identifiers.


  19. Why are dictionaries considered unordered, and how does that affect data retrieval?

  =>Dictionaries are considered unordered because they don't inherently maintain a specific order of elements based on when they were added.

   *  How Unordered Nature Affects Data Retrieval:
    *No Indexing:
Dictionaries cannot be accessed using numerical indices like lists (e.g., dictionary). Instead, you must use the keys to retrieve values.
    *No Slicing:
Dictionaries do not support slicing (e.g., dictionary[1:3]) because they don't have a defined order.


  20. Explain the difference between a list and a dictionary in terms of data retrieval
  
  

 => Lists:
  *  Retrieval: Accessed by index (position), starting from 0. To get a specific element, you need to know its index, and the list might need to be searched sequentially until the element is found.

 Time Complexity: Finding an element in a list can be slow, particularly for large lists, as it might involve searching through many elements.

=> Dictionaries:

 * Retrieval: Accessed by unique keys. Values are associated with keys, and you can quickly retrieve a value by providing its corresponding key.

 Time Complexity: Dictionaries use hashing to map keys to values, enabling very fast lookups (typically constant time).

                                        Practical Questions

In [ ]:
#1.Write a code to create a string with your name and print it.

name = ("pavan") #-> used my name as a string
print(name)

pavan

In [ ]:
#2.Write a code to find the length of the string "Hello World".

a = ("hello world")
print(len(a)) # -> here i have used length function.

11

In [ ]:
#3.Write a code to slice the first 3 characters from the string "Python Programming".

a = ("python programming")
b =a[0:3]  # by using slice
print(b)

pyt

In [ ]:
#4.Write a code to convert the string "hello" to uppercase.

a = ("hello")
b = a.upper()
print(b)

HELLO

In [ ]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple".

a = ("I like apple")
b = a.replace("apple","orange")
print(b)

I like orange

In [ ]:
#6.Write a code to create a list with numbers 1 to 5 and print it.

a = [1,2,3,4,5]
print(a)
type(a)

[1, 2, 3, 4, 5]

list

In [ ]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4].

a =[1,2,3,4]
b = a.append(10)
print(a)

[1, 2, 3, 4, 10]

In [ ]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

a = [1,2,3,4,5]
b = a.remove(3)
print(a)

[1, 2, 4, 5]

In [ ]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

a = ['a','b','c','d']
b = a[1]
print(b)

b

In [43]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].

a = [10, 20, 30, 40, 50]
b = a[: :-1] # here i have used slicing method we can use diferent methods also
print(b)

[50, 40, 30, 20, 10]

In [44]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

a = (100,200,300)
print(a)
type(a)

(100, 200, 300)

tuple

In [47]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

a = ('red','green','blue','yellow')
b = a[-2]
print(b)
type(a)

blue

tuple

In [49]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

a = (12,20,5,15)
b =min(a) # using minimum function
print(b)

5

In [117]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

a = ('dog','cat','rabbit')
b = a.index('cat') # using index function
print(b)

1

In [52]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

a = ('apple','kiwi','banana')
b = 'kiwi'
if b in a :  # here i have used if else conditions.
  print("the fruit kiwi is present")
else:
  print("the fruit kiwi is not present")
type(a)

the fruit kiwi is present

tuple

In [56]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

a = {'a','b','c'}
print(a)
type(a)

{'b', 'a', 'c'}

set

In [59]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

a = {1,2,3,4,5}
b = a.clear()
print(b)

None

In [69]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.

a = {1,2,3,4}
b = a.remove(4)
print(a)

{1, 2, 3}

In [116]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

a  = {1,2,3}
b = {3,4,5}
c = a | b # here i have used union operator
print(c)

{1, 2, 3, 4, 5}

In [73]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

a = {1,2,3}
b = {2,3,4}
c = a & b
print(c)

{2, 3}

In [74]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

a = {"name":"pavan","age":"25","city":"banglore"}
print(a)
type(a)

{'name': 'pavan', 'age': '25', 'city': 'banglore'}

dict

In [82]:
#22 .Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

a = {'name': 'john','age': 25}
a.update({"country":"USA"})
print(a)

{'name': 'john', 'age': 25, 'country': 'USA'}

In [86]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

a = {'name':'Alice','age':30}
b = a['name']
print(b)

Alice

In [97]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

a = {'name':'Bob','age':22,'city':'New York'}
a.pop('age')
print(a)

{'name': 'Bob', 'city': 'New York'}

In [99]:
#25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

a = {'name':'Alice','city':'Paris'}
if 'city' in a:
  print("the key city is present")
else:
  print("the key city is not present")
type(a)

the key city is present

dict

In [105]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.

a = ["apple",2,3.56,True,5+7j]
b = ("apple",5,4.6,False,7+7j)
c = {"name":"pavan","age":25}
print(a)
print(b)
print(c)

['apple', 2, 3.56, True, (5+7j)]
('apple', 5, 4.6, False, (7+7j))
{'name': 'pavan', 'age': 25}

In [112]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random
a = [random.randint(1,100) for i in range(5)]
a.sort()
print(a)

[1, 8, 16, 64, 77]

In [113]:
#28. Write a code to create a list with strings and print the element at the third index.

a = ["apple","banana","kiwi","orange"]
b = a[2]
print(b)

kiwi

In [114]:
#29.  Write a code to combine two dictionaries into one and print the result.

a = {"name":"pavan","age":25}
b = {"city":"banglore","country":"india"}
c = a | b # here i have used union function
print(c)

{'name': 'pavan', 'age': 25, 'city': 'banglore', 'country': 'india'}

In [115]:
#30. Write a code to convert a list of strings into a set.

a = ["apple","boy","cat"]
b = set(a) # here i have changed list into set using typecasting.
print(b)

{'cat', 'apple', 'boy'}